venv
ent_bot.txt
img_id.txt
to_server.txt
.idea
__pycache__
.env
static/client_id.json
static/My_Project_22558-8b9e681b949b.json
static/images/Kazakhstan_gory_2.jpg
/static/images/Thumbs.db
MyLinuxServer.pem
