[Unit]
Description=TelegramBot
After=network.target

[Service]
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/ubuntu/bot_pay
Environment="PYTHONPATH=/home/ubuntu/bot_pay"
ExecStart=/home/ubuntu/bot_pay/.venv/bin/python /home/ubuntu/bot_pay/bot.py

[Install]
WantedBy=multi-user.target
