<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/icon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='styles/promo_code_registred.css' ) }}">
    <!-- "{{ url_for('static', filename='styles/promo_code_registred.css' ) }}" -->
    <!-- "../static/styles/promo_code_registred.css" -->
    <title>О нас</title>
</head>

<body>
    <div class="block">
        <div class="block__row">
            <div class="block__element">
                <div class="block__content">
                    <p>ИП Мукашев Б.Ш.</p>
                    <p>
                        Род деятельности соглано ОКЭД:<br>
                        62011 - Разработка программного обеспечения<br>
                        Вид осуществляемой деятельности согласно ОКЭД:<br>
                        62012 - Сопровождение программного обеспечения<br>
                        63999 - Прочие виды деятельности в области информационного обслуживания
                    </p>
                    <p>Юридический адрес:<br>
                        Казахстан, обл.Западно-Казахстанская, р-он Байтерек, с.Мичурино, ул.Төле би, д.20</p>
                    <p>Фактический адрес:<br>
                        Казахстан, обл.Западно-Казахстанская, р-он Байтерек, с.Мичурино, ул.Төле би, д.20</p>
                    <p>Почтовый индекс:<br>091115</p>
                    <p>Email:<br>pdd.good.bot@gmail.com</p>
                    <p>Телефон службы поддержки:<br>+7 708 529 20 78</p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>