<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/icon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='styles/doc_style.css' ) }}">
    <!-- "{{ url_for('static', filename='styles/doc_style.css' ) }}" -->
    <!-- "../static/styles/doc_style.css" -->
    <title>Политика конфиденциальности и оплата</title>
</head>

<body>
    <div class="block">
        <div class="block__row">
            <div class="block__element">
                <div class="block__content">
                    <h2>ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ И ПОРЯДОК ПРОВЕДНИЯ ОПЛАТЫ С ПОМОЩЬЮ БАНКОВСКОЙ КАРТЫ</h2>
                    <p>Данный документ описывает процедуру оплаты на сайте http://pddgoodbot.ru/pay для доступа к образовательной платформе на базе мессенджера Telegram (https://t.me/pdd_good_bot).<br>
                    Для выбора оплаты с помощью банковской карты на соответствующей странице сайта необходимо нажать кнопку «Оплатить».<br>
                    Оплата происходит через авторизационный сервер Процессингового центра Банка с использованием Банковских кредитных карт следующих платежных систем:<br>
                    ✓ МИР<br>
                    ✓ VISA International<br>
                    ✓ MasterCard World Wide<br>
                    ✓ JCB</p>
                    <h2>Описание процесса передачи данных</h2>
                    <p>Для оплаты взноса Вы будете перенаправлены на платежный шлюз ПАО "Сбербанк России" для ввода реквизитов Вашей карты. Пожалуйста, приготовьте Вашу пластиковую карту заранее. Соединение с платежным шлюзом и передача информации осуществляется в защищенном режиме с использованием протокола шифрования SSL.<br>
                    В случае если Ваш банк поддерживает технологию безопасного проведения интернет-платежей, для проведения платежа также может потребоваться ввод специального пароля. Способы и возможность получения паролей для совершения интернет-платежей Вы можете уточнить в банке, выпустившем карту.<br>
                    Конфиденциальность сообщаемой персональной информации обеспечивается ПАО "Сбербанк России". Введенная информация не будет предоставлена третьим лицам за исключением случаев, предусмотренных законодательством РФ. Проведение платежей по банковским картам осуществляется в строгом соответствии с требованиями платежных систем.<br>
                    Данные вашей карты не обрабатываются сайтом, на котором осуществляется платёж и не сохраняются ни в каком виде в базах данных Платформы. Соответственно, ни владелец сайта, ни владелец образовательной платформы не несут никакой ответственности, в случае утечки информации о Вашей платежной карте.</p>
                    <h2>Описание процесса оплаты</h2>
                    <p>При выборе формы оплаты с помощью пластиковой карты проведение платежа по заказу производится непосредственно после его оформления. После завершения оформления заказа на сайте, Вы должны будете нажать на кнопку «Оплатить», при этом система переключит Вас на страницу авторизационного сервера, где Вам будет предложено ввести данные пластиковой карты, инициировать ее авторизацию, после чего вернуться на наш сайт кнопкой "Вернуться в магазин". После того, как Вы возвращаетесь на наш сайт, система уведомит Вас о результатах транзакции.<br>
                    В случае подтверждения транзакции Ваш Telegram аккаунт будет подключен к нашей образовательной платформе по адресу: https://t.me/pdd_good_bot, сроком на 1 год.<br>
                    В случае отказа в проведении транзакции, Вы сможете повторить процедуру оплаты.</p>
                    <h2>Аннулирование заказа и информационная поддержка</h2>
                    <p>В случаях, если необходимо аннулировать оплаченный доступ или получить информационную поддержку, напишите письмо на e-mail: pdd.good.bot@gmail.com</p>
                    <h2>Оплата по банковским картам VISA</h2>
                    <p>К оплате принимаются все виды платежных карточек VISA, за исключением Visa Electron. В большинстве случаев карта Visa Electron не применима для оплаты через интернет, за исключением карт, выпущенных отдельными банками. О возможность оплаты картой Visa Electron вам нужно выяснять у банка-эмитента вашей карты.</p>
                    <h2>Оплата по кредитным картам MasterCard</h2>
                    <p>На сайте к оплате принимаются все виды MasterCard.<br>
                    Что нужно знать:<br>
                    1. номер вашей кредитной карты;<br>
                    2. cрок окончания действия вашей кредитной карты, месяц/год;<br>
                    3. CVV код для карт Visa / CVC код для Master Card: 3 последние цифры на полосе для подписи на обороте карты.<br>
                    Если на вашей карте код CVC / CVV отсутствует, то, возможно, карта не пригодна для CNP транзакций (т.е. таких транзакций, при которых сама карта не присутствует, а используются её реквизиты), и вам следует обратиться в банк для получения подробной информации.</p>
                    <h2>Оплата заказов банковскими картами Сбербанка</h2>
                    <p>По кнопке "Оплатить" Вы будете перенаправлены на платежный шлюз ПАО "Сбербанк России", где Вы сможете указать реквизиты Вашей банковской карты*. Соединение с платежным шлюзом и передача параметров Вашей пластиковой карты осуществляется в защищенном режиме с использованием 128-битного протокола шифрования SSL.<br>
                    Если Банк-Эмитент вашей пластиковой карты поддерживает технологию безопасного проведения интернет-платежей, будьте готовы указать специальный пароль, необходимый для успешной оплаты. Способы и возможность получения пароля для совершения интернет-платежа Вы можете уточнить в банке, выпустившем Вашу карту.<br>
                    При выборе формы оплаты с помощью банковской карты проведение платежа по заказу производится непосредственно после создания заказа. После подтверждения заказа, Вы должны будете зайти в личный кабинет вашего заказа и нажать на кнопку «Оплатить», при этом система переведёт Вас на страницу авторизационного сервера Сбербанка, где Вам будет предложено ввести данные пластиковой карты, инициировать ее авторизацию, после чего вы сможете вернуться на наш сайт кликом по кнопке "Вернуться в магазин". После возвращения на наш сайт система уведомит Вас о результатах транзакции.<br>
                    До получения успешного подтверждения платежа Ваш заказ будет находиться в режиме ожидания. После успешного подтверждения платежа Ваш Telegram аккаунт будет подключен к нашей образовательной платформе по адресу: https://t.me/pdd_good_bot, сроком на 1 год.<br>
                    В случае отказа в авторизации карты Вы сможете повторить процедуру оплаты.<br>
                    На оформление платежа Сбербанком выделяется 20 минут, поэтому, пожалуйста, приготовьте Вашу пластиковую карту заранее. Если Вам не хватит выделенного на оплату времени или в случае отказа в авторизации карты Вы сможете повторить процедуру оплаты.</p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>