<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Telegram бот поможет подготовится к экзамену на знание ПДД, закрепить
    полученные в автошколе знания, узнать размеры штрафов за нарушения">
    <meta name="keywords" content="telegram бот, пдд, правила дорожного движения, автошкола, экзамен, тест, вопросы,
    рф, рк, казахстан, россия, сұрақтар, жол ережелер, вождение, көлік жүргізу">
    <meta name="Author" content="Болат Мукашев">
    <meta name="Copyright" content="Болат Мукашев">

    <meta property="og:locale" content="ru_RU">
    <meta property="og:type" content="website">
    <meta property="og:title" content="ПДД тесты, Telegram бот @pdd_good_bot">
    <meta property="og:description" content="Telegram бот поможет подготовится к экзамену на знание ПДД, закрепить
    полученные в автошколе знания, узнать размеры штрафов за нарушения">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://t.me/pdd_good_bot">
    <meta property="og:image" content="blob:https://web.telegram.org/de18767a-edf1-48b7-94d3-0be9efac68fb">
    <meta property="og:site_name" content="Telegram бот @pdd_good_bot">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="Болат Мукашев">
    <meta name="twitter:creator" content="Болат Мукашев">
    <meta name="twitter:title" content="ПДД тесты, Telegram бот @pdd_good_bot">
    <meta name="twitter:description" content="Telegram бот поможет подготовится к экзамену на знание ПДД">
    <meta name="twitter:image" content="blob:https://web.telegram.org/de18767a-edf1-48b7-94d3-0be9efac68fb">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/icon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='styles/index.css') }}">
    <!-- "{{ url_for('static', filename='styles/index.css') }}" -->
    <!-- "../static/styles/index.css" -->
    <title>ПДД тесты</title>
</head>

<body>
    <div class="block">
        <div class="block__row">
            <div class="block__content">
                <div class="block__element">
                    <div class="title animate__animated animate__fadeInDown">
                        Диджитал платформа НОВОГО ПОКОЛЕНИЯ
                    </div>
                    <div class="text animate__animated animate__fadeIn animate__delay-1s">
                        <p>
                            <i>Новые возможности для учеников автошкол</i>
                        </p>
                        <p>
                            <a href="{{ bot_address }}" target="_blank">
                                Telegram бот
                            </a> дополняет классический формат обучения в автошколах,<br>
                            помогает подготовится к экзамену на знание правил
                            дорожного движения <br>
                            и эффективно закрепляет полученные в автошколе знания
                        </p>
                    </div>
                    <div class="images images__iphone">
                        <div class="image iphone iphone1"></div>
                        <div class="image iphone iphone2"></div>
                        <div class="image iphone iphone3"></div>
                    </div>
                </div>
                <div class="block__button" id="button">
                    <a href="/promo_code">
                        <button class='button main__button'>Зарегистрировать<br>ПРОМОКОД</button>
                    </a>
                </div>
                <div class="block__element">
                    <div class="title" id="title2">Выгодно ВСЕМ</div>
                    <div class="text" id="text2">
                        <p>
                            Автошколам не нужно тратить драгоценные ресурсы на создание и поддержание
                            компьютерного класса</p>
                        <p>
                            Студенты же получают удобный инструмент для самостоятельного изучения ПДД и
                            подготовке к тестированию <br>
                            в свободное время и в удобном для них месте
                        </p>

                    </div>
                    <div class="images">
                        <div class="image instructor" id="instructor"></div>
                        <div class="image student" id="student"></div>
                    </div>
                </div>
                <div class="block__element">
                    <div class="title" id="title3">
                        Ваше ПРЕИМУЩЕСТВО
                    </div>
                    <div class="text" id="text3">
                        <p>
                            Автошкола может зарегистрировать свой Промокод БЕСПЛАТНО!
                        </p>
                        <p>
                            Ученики же в свою очередь, применив Ваш промокод, получат Примиум доступа к платформе
                        </p>

                    </div>
                    <div class="images">
                        <div class="image win" id="win"></div>
                    </div>
                </div>
                <div class="block__element">
                    <div class="title" id="title4">
                        Почему TELEGRAM?
                    </div>
                    <div class="text" id="text4">
                        <p>На сегодняшний день Telegram самая быстрорастущая социальная сеть</p>
                        <p>На начало 2021 года ежемесячная аудитория Telegram превысила 500 млн
                            активных пользователей</p>
                    </div>
                    <div class="images">
                        <div class="image telegram500" id="telegram500"></div>
                        <div class="image telegram_chat" id="telegram_chat"></div>
                    </div>
                </div>
                <div class="block__element">
                    <div class="title" id="title5">Это УДОБНО</div>
                    <div class="text" id="text5">
                        <p><i>Нужен только Telegram!</i></p>
                        <p>
                            Нет необходимости что-то скачивать или обновлять
                        </p>
                        <p>
                            Не важно какое устройство Вы используете: Android, IOS, Windows или Mac - достаточно иметь Telegram
                        </p>
                        <p>
                            Платформа доступна любому пользователю в любое время
                        </p>
                    </div>
                    <div class="images">
                        <div class="image ipad" id="ipad"></div>
                        <div class="image macbook" id="macbook"></div>
                    </div>
                </div>
                <div class="block__element block__element5">
                    <div class="title" id="title6">Наш БОТ</div>
                    <div class="text" id="text6">
                        <p>
                            <i>Не верь на слово, проверь в деле</i>
                        </p>
                    </div>
                    <div class="block__bot">
                        <div class="image bot__image"></div>
                        <a href="{{ bot_address }}" target="_blank">
                            <button class='button simple__button'>Открыть бота</button>
                        </a>
                    </div>
                </div>
                <div class="block__element">
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="footer__content">
            <p>ИП Мукашев Б.Ш.</p>
            <p>
                Род деятельности соглано ОКЭД:<br>
                62011 - Разработка программного обеспечения<br>
                Вид осуществляемой деятельности согласно ОКЭД:<br>
                62012 - Сопровождение программного обеспечения<br>
                63999 - Прочие виды деятельности в области информационного обслуживания
            </p>
            <p>Юридический адрес:<br>
                Казахстан, обл.Западно-Казахстанская, р-он Байтерек, с.Мичурино, ул.Төле би, д.20</p>
            <p>Фактический адрес:<br>
                Казахстан, обл.Западно-Казахстанская, р-он Байтерек, с.Мичурино, ул.Төле би, д.20</p>
            <p>Почтовый индекс:<br>091115</p>
            <p>Email:<br>pdd.good.bot@gmail.com</p>
            <p>Телефон службы поддержки:<br>+7 708 529 20 78</p>
        </div>
    </div>
</body>
<!-- Анимации -->
<script src="{{ url_for('static', filename='scripts/element_view.js') }}"></script>

</html>