<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/icon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='styles/promo_code_registred.css') }}">
    <title>Error</title>
</head>

<body>
    <div class="block">
        <div class="block__row">
            <div class="block__element">
                <div class="block__content">
                    <h1>
                        Мы не смогли определить Ваш Telegram ID. Пожалуйста, зайдите в бота.<br>
                        Біз сіздің Telegram идентификаторыңызды анықтай алмадық. Ботқа кіріңіз.
                    </h1>
                    <a href="{{ BOT_ADDRESS }}"><button class='main__button'>Вернуться к боту</button></a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>