<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/icon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='styles/promo_code.css') }}">
    <!-- "{{ url_for('static', filename='styles/promo_code.css') }}" -->
    <!-- "../static/styles/promo_code.css" -->
    <title>Регистрация ПРОМОКОДА</title>
</head>

<body>
    <div class="block">
        <div class="flex__block">
            <div class="small__block">
                <form action="" method="post">
                    <div class="small__blockchields">
                        <div class="title">
                            <h2>Введите СЕКРЕТНЫЙ КОД</h2>
                        </div>
                        {% if secret_key_error %}
                        <div class="error__text">
                            <h3 style="color:rgb(216, 0, 90);">{{ secret_key_error }}</h3>
                        </div>
                        {% endif %}
                        <div class="block__input">
                            <input type="text" name='secret_key' id='secret_key' class="input" value="{{ secret_key }}"
                                placeholder="введите секретный код" maxlength="50" required autocomplete="off">
                        </div>
                    </div>
                    <div class="small__blockchields">
                        <div class="title">
                            <h2>Придумайте ПРОМОКОД</h2>
                        </div>
                        <div class="title">
                            <h3>
                                Заглавными буквами, на английском языке<br>
                                не более 20 символов.<br>
                                Примеры: PDD_SCHOOL, BEST-AVTO, KOLESA
                            </h3>
                        </div>
                        <div class="block__input">
                            <input type="text" name='promo_code' id='promo_code' class="input uppercase"
                                placeholder="введи промокод" maxlength="20" required autocomplete="off">
                        </div>
                        {% if promo_code_error %}
                        <div class="error__text">
                            <h3 style="color:rgb(216, 0, 90);">{{ promo_code_error }}</h3>
                        </div>
                        {% endif %}
                    </div>

                    <div class="small__blockchields">
                        <div class="block__offer">
                            <p>Нажимая кнопку <b>АКТИВИРОВАТЬ</b>,<br>
                                Вы подтверждаете,<br>
                                что ознакомлены с условиями
                                предоставления услуг и соглашаетесь с<br>
                                <a href="/offer" target="blank">договором оферты</a>.
                            </p>
                        </div>
                    </div>
                    <div class="small__blockchields">
                        <div class="block__button">
                            <input type="submit" class="button" value="АКТИВИРОВАТЬ">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='scripts/uppercase_script.js') }}"></script>
</body>

</html>