/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
/*--------------------*/


/* родитель */
.block{
    width: 100%;
    background: url('/static/images/bg3.png') 0 0/400px 330px repeat;
}

/* flex-контейнер */
.block__row{
    display:flex;
    position: relative;
    width: 100%;
    height:100%;
    justify-content:center;

}

/* flex-элемент */
.block__content {
    width: 100%;
}

.block__element {
    display: flex;
    text-align: center;
    flex-direction:column;
    position: relative;
    width: 100%;
    /* border: 2px solid greenyellow; */
}

.title {
    font-weight: 800;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    font-size: calc(26px + 20 * ((100vw - 320px) / (1780 - 320)));
    padding: 40px 0 20px 0;
}

.text {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    font-size: calc(14px + 14 * ((100vw - 320px) / (1780 - 320)));
    padding: 10px;
    line-height: calc(180% - 50 * ((100vw - 568px) / (7000 - 568)));
}

.images {
    width: 100%;
    display: flex;
    justify-content:space-evenly;
    text-align: center;
    flex-direction:row;
    flex-wrap:wrap;
    padding: 40px 0 40px 0;
}

/* высота 475px ширина 712px */
.image {
    margin-bottom: 40px;
}

.iphone {
    border: 2px solid white;
    width: 235px;
    height: calc(275px + 200 * ((100vw - 320px) / (1780 - 320)));
    background: url('/static/images/iphone.png') center/contain no-repeat;
}

.ipad {
    background: url('/static/images/ipad-740.png') center/contain no-repeat;
}

.telegram500 {
    background: url('/static/images/500users-700.png') center/contain no-repeat;
}

.telegram_chat {
    background: url('/static/images/chat-700.png') center/contain no-repeat;
}

.macbook {
    background: url('/static/images/macbook-740.png') center/contain no-repeat;
}

.instructor {
    background: url('/static/images/instructor.jpg') center/contain no-repeat;
    border: 4px solid white;
    border-radius: 20px;
}

.student {
    background: url('/static/images/student.jpg') center/contain no-repeat;
    border: 4px solid white;
    border-radius: 20px;
}

.ipad, .macbook, .instructor, .student, .telegram500, .telegram_chat {
    min-width: 320px;
    width: 45%;
    height: calc(275px + 200 * ((100vw - 320px) / (1780 - 320)));
}

.instructor, .student, .ipad, .macbook {
    min-width: 620px;
}

@media (max-width: 650px) {
    .instructor, .student, .ipad, .macbook {min-width: 450px;}
}

@media (max-width: 460px) {
    .instructor, .student, .ipad, .macbook {min-width: 300px;}
}

.bot__image {
    border: 2px solid white;
    width: 320px;
    height: calc(275px + 200 * ((100vw - 320px) / (1780 - 320)));
    background: url('/static/images/bot.gif') center/contain no-repeat;
}

@media (max-width: 708px) {
    .iphone3 {display: none;}
}

@media (max-width: 473px) {
    .iphone2 {display: none;};
    .images__iphone {justify-content: center;}
}

/* контент */
.block__button{
    position: relative;
    width: 100%;
    color: white;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 250%;
}

.main__button {
    height: calc(80px + 30 * ((100vw - 320px) / (1780 - 320)));
    width: calc(240px + 270 * ((100vw - 320px) / (1780 - 320)));
    border-radius: 5px;
    font-size: calc(20px + 10 * ((100vw - 320px) / (1780 - 320)));
    font-weight: 900;
    color: rgb(255, 255, 255);
    text-shadow: 0px 1px 0px black;
    letter-spacing: 1px;
    background: linear-gradient(90deg, rgba(5,110,46,1) 0%, rgba(0,161,55,1) 27%, rgba(63,255,145,1) 100%);
    transition-duration: 0.5s;
    box-shadow: 0px 3px 0px black;
    position: relative;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.main__button:hover {
    transform: scale(1.05);
    box-shadow: 0px 3px 5px black;
}

.main__button:active {
    transform: scale(0.95);
}


.block__bot {
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    align-items:center;
}

.simple__button {
    border-radius: 70px;
}


.block__element:last-child {
    height: 400px;
}